.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body, .root {
  background-color: #ddf3fa !important;
}

.header {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  align-self: center;
  margin-right: 20px;
}

.note-title {
  font-size: 150%;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
  width: 70%;
}



.timestamp {
  padding: 0px 5px;
  border-right: 2px solid black;
  align-self: center;
}

.noterow-focused .timestamp {
  font-weight: bold;
}

.noterow-unfocused .timestamp {
  /* Compensate for bold/unbolding */
  padding-right: 8px;
}

.entrybox {
  width: 100%;
  margin-left: 5px;
  border: none;
  outline: none;
  height: fit-content;
  font-size: 120%;
  background-color: #ddf3fa;
}

.noterow-unfocused .entrybox {
  color: gray;
}

.noterow {
  display: flex;
  width: 100%;
  font-size: 120%;
}

.noterow-unfocused {
  color: gray;
}
