.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body, .root {
  background-color: #ddf3fa !important;
}

.header {
  display: flex;
}

.dropdown {
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
}

.note-title {
  font-size: 150%;
  text-align: left;
  margin: 7px;
  margin-bottom: 17px;
  padding: 3px;
  padding-right: 6px;
}

.note-title input {
  background-color: inherit;
  border: none;
  font-weight: bold;
}

.note-title input:focus {
  outline: none;
}

.note-title:hover {
  border: 1px solid lightgray;
  margin: 6px;
  margin-bottom: 16px;
  border-radius: 1px;
}

.timestamp {
  padding: 0px 5px;
  border-right: 2px solid black;
  align-self: center;
}

.noterow-focused .timestamp {
  font-weight: bold;
}

.noterow-unfocused .timestamp {
  /* Compensate for bold/unbolding */
  padding-right: 8px;
}

.entrybox {
  width: 100%;
  margin-left: 5px;
  border: none;
  outline: none;
  height: fit-content;
  font-size: 120%;
  background-color: #ddf3fa;
  overflow: hidden;
}

.noterow-unfocused .entrybox {
  color: gray;
}

.noterow {
  display: flex;
  width: 100%;
  font-size: 120%;
}

.noterow-unfocused {
  color: gray;
}

.status-area {
  display: flex;
  flex-direction: column;
}

.status-area .note-locked-icon {
  display: inline-block;
  background-image: url(./images/lock_outline_black_18x18.png);
  width: 18px;
  height: 18px;
}

.status-area .view-in-docs-link {
  display: flex;
  align-self: center;
  min-width: 18px;
  min-height:18px;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 5px;
}

.status-area .view-in-docs-link a {
  color: black !important;
  font-weight: bold;
}

.status-area .view-in-docs-link.syncing {
  background-image: url(./images/sync_black_18x18.png);
}

.status-area .view-in-docs-link.synced {
  background-image: url(./images/check_circle_black_18x18.png);
}

.status-area .view-in-docs-link.signed-out {
  background-image: url(./images/report_problem_black_18x18.png);
}

.status-area .view-in-docs-link.loading {
  background-image: url(./images/hourglass_empty_black_18x18.png);
}